//	@package WordPress
//	@subpackage DE-Minimal
 
/* COMMENTS */

h4#commentheadline {
margin-bottom: 10px;
margin-top: 50px;
	
}
.selbst-kommentieren {
	margin-bottom: 30px;
}

.commentnavigation {
	@include clearfix;
}


.entry ol.comment-list,
.entry #respond {
	max-width: 100%;
	margin-left: 0;	
}
ol.comment-list li {
	list-style-type: none;
}

li.comment {
	padding-top: 1.5em;
	padding-bottom: 1em !important;
		border-bottom: 2px solid $gray-lighter;
}

ul.children {
	margin-left: 100px;
	margin-bottom: 0;
}

li.comment .comment {
	border: 0;
}


.comment-body {
	@include clearfix;
	
	padding-bottom: 0em;
}

.comment-avatar {
	float: left;
	width: 100px;
	text-align: center;
}

.avatar {
	border-radius: 50%;
}

.comment-content {
	margin-left: 100px;
}	

.says {
	display: none;
}

.comment-meta {
	margin-left: 100px;
	float: left; margin-right: 1em;
}
	
.kommentar {
	margin-bottom: 1.2em;
	border-bottom: 1px solid #ddd;
	}

	
.commentlist .meta {
	font-weight: bold;
	}
	
.commentlist a {
	color: #222;
	}

	


/* Ende Commentblase
------------------------------------------------------------------------------------------------------------------------------- */

#respond h4 {
	margin-bottom: 1em;
}
#commentform {
	overflow: hidden;
	
	> p {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1em;
	}
	
	p.form-submit {
		text-align: center;
	}

	input,
	textarea {
		font-size: 18px;
		border-radius: 4px;
		box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
		border: 1px solid #ccc;
		padding: 6px;
		width: 100%;
		font-family: $font-family-base;
	}
	
	#submit {
		@include btn;
		
		box-shadow: none;
		max-width: 15em;
	 }
	 
	label {
		
	}
	
	.form-allowed-tags {
		font-size: 0.75em;
		color: $gray-light;
	}
}

.ie7 #commentform label,
.ie8 #commentform label,
.ie9 #commentform label {
	display: inline;
}