//	@package WordPress
//	@subpackage DE-Minimal

/* SEARCH */
	
.searchbar {
	padding: 2.5em 2.5em;
	background: rgba(0,0,0,0.2);
	z-index: 6001;
}

.searchform {
	margin: 0 auto;
	max-width: 20em;
	text-align: center;
	
	form {
		margin-bottom: 0;
	}
	
	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}

	input {
		width: 100%;
		font-size: 1em;
		background: #fff;
		border: 0;
		color: #444;
		padding: 0.2em .5em;
		
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		
		font-family: $font-family-base;
	}
	
	button {
		color: white;
		padding: 0.2em 1em; 
/* 		float: left; */
		font-size: 1em;
		margin-left: -0.25em;
		font-family: $font-family-base;
		border: none;
	
		-moz-border-radius-topright: 5px;
		-webkit-border-top-right-radius: 5px;
		border-top-right-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-right-radius: 5px;
		border-bottom-right-radius: 5px;
		
		background: #222; 
		background-image: -moz-linear-gradient(top, rgba(90,90,90, 0.9), rgba(34,34,34, 1)); /* Firefox */
		background: -webkit-gradient(linear, left top, left bottom, from(rgba(90,90,90, 0.9)), to(#222)); /* Safari, Chrome */
		
		span {
			display: none;
		}
		
		display: none;
	}
	
	label {
		display: none;
	}
	
	#searchform {
		@include clearfix;
	}
}
/* SEARCH END */