//	@package WordPress
//	@subpackage DE-Minimal
 
 // VARIABLES
$link-color: #68c4ee;

$font-family-serif: "ff-tisa-web-pro-1","ff-tisa-web-pro-2",serif; // @textFont
$font-family-sans-serif: "Helvetica Neue",Helvetica, Arial,sans-serif; // @headFont

$font-family-base: $font-family-serif;
$font-family-headings: $font-family-sans-serif;

$bg-color: #fbfbfb;